.attribution {
  font-size: 11px;
  text-align: center;
  padding: 8px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

/* override Bootstrap variables for root */
:root {
  --bs-body-bg: rgb(213 225 239);
  --bs-border-radius: 10px;
  --bs-body-font-family: Outfit, sans-serif;
  --bs-box-shadow-lg: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}

/* override Bootstrap variables for Card */
.card {
  --bs-card-title-color: rgb(31 49 79);
  --bs-card-color: rgb(104 119 141);
}

.card {
  width: 320px;
}
